/* MAIN STYLING */
body {
    font-family:  Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
    margin: 0;
    padding-left: 10%;
    padding-right:10%;
    background-color: #f9fff5;
    color: #333;
    padding-bottom: 5%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 20px;
    padding-bottom: 3%;
}

.headername {
    font-weight: bold;
    font-size: 22px;
}

.header-right a {
    text-decoration: none;
    color: #5d8d5d;
    text-align: right;
    padding: 13px;
}

.header-right a:hover, a.active {
    text-decoration: underline;
    color: #31402f;
    font-weight: bold;
}

.profile-picture {
    border-radius: 100%;
    width: auto;
    max-height: 250px;
    margin-right: 20px;
}


.title {
    font-size: 70px;
}

.subtitle {
    font-size: 45px;
    color: #5d8d5d;
    margin-top: 0px;
    margin-bottom: 0px;
}

.summary {
    display: flex;
    align-items: center;
}

.summary-text h1, .summary-text h2, .summary-text p {
    margin: 0;
    line-height: 1.2;
}

.line_break {
    text-align: center;
}

/* PROJECTS THUMBNAIL */
.gallery {
    margin-top: 20px;
}

/* PROJECTS THUMBNAIL */
.project {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px; 
    padding: 10px;
}

.project-text {
    flex: 1;
    margin-right: 5px; 
}

.project-text h3 {
    font-size: 42px;
    margin-bottom: 10px;
}

.project-text p {
    font-size: 18px;
    color: #555; 
}

.project-image {
     flex: 1; 
    text-align: right;
    
}

.project-image img {
    max-width: 250px;
    height: auto;
}
/* BACK BUTTON */
.back-button {
    margin-bottom: 20px;
}

/* LINKS */
a {
    text-decoration: none; 
    color: inherit; 
}

.back-button a {
    text-decoration: none;
    color: #5d8d5d; 
    font-size: 18px;
}

.back-button a:hover {
    text-decoration: underline;
    color: #31402f; 
}


/* SPECIFIC PROJECTS PAGE */
.project-detail p{
    font-size: 18px;
    text-align: justify;
}

.details-main-image img{
    max-width: 40vw;
    height: auto;
}

.details-main-image{
    display: flex;
    justify-content: center;
}

.summ-text{
    font-size: 24 px;
    font-weight: semi-bold;
    text-align: justify;
}

/* PROJECT GALLERY */
.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 10px; 
    padding: 10px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.gallery-item p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 5px;
    margin: 0;
    font-size: 14px;
}

/* ABOUT PAGE STYLING */
.about-section {
    text-align: left;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.section ul li i {
    margin-right: 10px;
    color: #5d8d5d; 
}