/* styles.css */
body {
    font-family:  Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
    margin: 0;
    padding-left: 10%;
    padding-right:10%;
    padding-top: 3%;
    background-color: #f9fff5;
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 20px;
}

.headername {
    font-weight: bold;
    font-size: 26px;
}

.header-right a {
    text-decoration: none;
    color: #5d8d5d;
    text-align: right;
    padding: 13px;
}

.header-right a:hover, a.active {
    text-decoration: underline;
    color: #31402f;
    font-weight: bold;
}