<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'resume_app/styles.css' %}">
</head>
<body>
    <main>
        <div class="container">
            <div class="header-left">
                <p class="headername">Danielle Grace Dignadice</p>
            </div>
            <nav class="header-right">
                <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a>
                <a href="{% url 'work' %}" class="{% if request.path == '/work/' %}active{% endif %}">Work</a>
                <a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">About</a>
                <a href="{% url 'portfolio' %}" class="{% if request.path == '/portfolio/' %}active{% endif %}">Portfolio</a>
            </nav>
        </div> 
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
