<div class="gallery">
    <h2 class="subtitle">My Projects</h2>
    {% for project in projects %}
    <div class="project">
        <div class="project-text">
            <br>
            <h3 class="subtitle"><a href="{% url 'project_detail' project.id %}">{{ project.title }}</a></h3>
            <p class="summ-text">{{ project.description }}</p>
        </div>
        <div class="project-image">
            <a href="{% url 'project_detail' project.id %}">
                <img src="{{ project.image.url }}" alt="{{ project.title }}">
            </a>
        </div>
    </div>
    {% endfor %}

<div>