<div class="summary">
    {% load static %}
    <img src="{% static 'resume_app/resume2x2.png' %}" alt="Your Picture" class="profile-picture">
    <div class="summary-text">
        <h1 class="title">Danielle Grace Dignadice</h1>
        <h2 class="subtitle">Aspiring UI/UX and Data Analysis Professional</h2>
        <h3>4th Year at Palawan State University</h3>
        <p>An undergraduate Bachelor of Information Technology student with a keen interest in Data Analytics and UI/UX Design. 
            Detail-oriented and highly organized, I have experience using Google Apps and am eager to apply my strong attention 
            to detail and analytical skills to create intuitive, user-friendly interfaces. Passionate about blending data-driven
             insights with design principles to enhance user experiences.</p>
    </div>
</div>